.navbar-brand{
  font-family: 'Lobster', cursive

}
/* .font-color{
  color: white!important;
} */
.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: orangered!important;
}

img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}

.login {
  background: rgb(47, 157, 66);
}

