.navbar-brand{
  font-family: 'Lobster', cursive

}
.font-color{
  color: black!important;
}
.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: pink!important;
}

img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}


